{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MinhocaLoucaApp/css/leaderboard.css' %}">
    <script src="{% static 'MinhocaLoucaApp/js/leaderboard.js' %}"></script>
    <title>leaderboard</title>
</head>

<body>
    <div>
        <table class="fixed_header">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        Rank --->
                        <select onChange="difficultySelectionChanged()" class="difficultyField"
                            id="leaderboardDifficulty" name="leaderboardDifficulty">
                            <!-- <option value="" disabled selected>Dificuldade</option> -->
                            <option value="easy" {% if currentDiff == "easy" %} selected {% endif %}>Fácil</option>
                            <option value="normal" {% if currentDiff == "normal" %} selected {% endif %}>Normal</option>
                            <option value="hard" {% if currentDiff == "hard" %} selected {% endif %}>Difícil</option>
                        </select>
                    </th>
                    <th scope="col">Jogador</th>
                    <th scope="col">Pontuação</th>
                </tr>
            </thead>
            <tbody>
                {% if easyScores or normalScores or hardScores %}
                {% for score in easyScores %}
                <tr class="easyScore">
                    <td class="text-center">{{ score.i }}</td>
                    <td>{{ score.value.player.username }}</th>
                    <td>{{ score.value.score }}</th>
                </tr>
                {% endfor %}
                {% for score in normalScores %}
                <tr class="normalScore">
                    <td class="text-center">{{ score.i }}</td>
                    <td>{{ score.value.player.username }}</th>
                    <td>{{ score.value.score }}</th>
                </tr>
                {% endfor %}
                {% for score in hardScores %}
                <tr class="hardScore">
                    <td class="text-center">{{ score.i }}</td>
                    <td>{{ score.value.player.username }}</th>
                    <td>{{ score.value.score }}</th>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <button class="bigButton" id="backButton">Voltar</button>
    </div>
</body>
</html>