{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MinhocaLoucaApp/css/base.css' %}">
    <title>{% block pagename %}{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
    {% if not user.is_authenticated %}
    <h2> • Novo por aqui? <a class="link" href="{% url 'signUp' %}">Crie</a> uma conta . </h2>
    <h2> • Quer salvar sua pontuação? Faça <a class="link" href="{% url 'login' %}">login</a> ! </h2>
    <h2> • Sou <a class="link" href="/admin">administrador</a> . </h2>
    {% else %}
    <h2> • Quero fazer <a class="link" href="{% url 'logout' %}">logout</a> . </h2>
    {% endif %}
    <div class="mainField">
        <h1 class="title">{% block title %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>