{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'MinhocaLoucaApp/css/home.css' %}">
    <script src="{% static 'MinhocaLoucaApp/js/home.js' %}"></script>
    <title>Minhoca Louca - Início</title>
</head>
<body>
    <div class="loginField">
        <h1 class="title">minhoca louca</h1>
        <form action="{% url 'game' %}" onsubmit="return validateForm()" method="get">
            <input class="playButton" type="button" value="Login" id="loginButton"> ou <br><br>
            <div class="playField">
                <h3> jogar como convidado</h3>
                <select class="difficultyField" id="difficultyField" name="difficultyField">
                    <option value="" disabled selected>Dificuldade</option>
                    <option value="easy">Fácil</option>
                    <option value="normal">Normal</option>
                    <option value="hard">Difícil</option>
                </select>
                <br>
                <div class="errorMessage" id="difficultyErrorMessage">
                    Dificuldade não selecionada!
                </div>
                <input class="playButton" type="submit" value="Jogar" id="playButton">
            </div>
        </form>
    </div>
</body>
</html>