body {
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: rgb(107, 208, 142);
}

.container {
    text-align: center;
}

.loginField {
    text-align: center;
    width: fit-content;
    position: absolute;
    padding: 30px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border: black 4px solid;
    border-radius: 25px;
    background-color: rgb(56, 124, 124);
}

.playField{
    text-align: center;
    width: fit-content;
    position: relative;
    padding: 15px;
    transform: translate(38%, 0%);
    border: black 3px solid;
    border-radius: 25px;
    background-color: rgb(51, 147, 147);
}

.title {
    color: rgb(163, 248, 117);
}

h1 { 
    font-size: 70px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}


h3 {
    color: whitesmoke;
}

.difficultyField {
    position: relative;
    width: 150px;
    font-size: 20px;
    background-color: whitesmoke;
    color: darkgreen;
}

.emailField{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    text-indent: 5px;
}

.errorMessage{
    color: rgb(135, 2, 2);
    visibility: hidden;
    font-size: large;
    padding-top: 5px;
}

.playButton{
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Helvetica Neue', sans-serif; 
    color: darkgreen;
    background-color: rgb(163, 248, 117);
    cursor:pointer;
}

.link{
    color: darkgreen;
    text-decoration: none;
}

.link:hover{
    color: whitesmoke;
    text-decoration: underline;
}

